@model IEnumerable<Models.Ingredient>

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";
}

<script>
    $().init(@Model.Select(x => new { id = x.Id, title = x.Name }));
</script>


   

    <h2>Choose page</h2>
<ul class="ingredients-list">
    

    @foreach (var ingredient in Model)
    {
        <li>
            <input type="checkbox" value="@ingredient.Id" name="List" />
            @ingredient.Name
        </li>
    }

</ul>


<ul id="dishes_list">
    
</ul>


@section scripts {
   @Scripts.Render("~/bundles/choose")
}





