@model IEnumerable<Models.Ingredient>

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";
}




   

    <h2>Choose page</h2>
<ul>
    <form id="formId">

        @foreach (var ingredient in Model)
        {
            <li>
                <input type="checkbox" value="@ingredient.Id" name="List" />
                @ingredient.Name
            </li>
        }

    </form>

</ul>


<ul id="dishes_list">
    
</ul>


@section scripts {
   @Scripts.Render("~/bundles/choose")
}





