@model IEnumerable<Models.Ingredient>

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";
}




<html>
<head>

    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>


    <link rel="stylesheet" href="../../Content/chosen.css">
</head>
    <body>
        
    
            <ul data-bind="foreach: seats">
                <tr>
                    <li data-bind="text: Name"></li>
                    
                </tr>
            </ul>
       
        @*<p>Full name: <strong data-bind="text: fullName"></strong></p>*@

        @*<button data-bind="click: addSeat">Reserve another seat</button>
        <button data-bind="click: addSeat2">Reserve another seat2</button>*@
        
        

        <script type="text/javascript">
            $(function () {
                $(".chzn-select").chosen();
            });
        </script>

        <select class="chzn-select" multiple="true" name="faculty" style="width:200px;">
            @foreach (var ingredient in Model)
            {
                <option value=@ingredient.Id>
                    @ingredient.Name
                </option>
            }

        </select>


        <ul id="dishesList"></ul>

        <div class="panel panel-default">
            <div class="panel-heading">Блюда, которые можно приготовить</div>
            <div class="panel-body">

            </div>
        </div>
    
    

    </body>
</html>

@section scripts{
    
    @Scripts.Render("~/bundles/knockout")
    <script src="../../Scripts/knockout/knockout.js"></script>

    <script src="../../Scripts/chosen.jquery.js"></script>
    @Scripts.Render("~/bundles/choose")
   
  
}