@using Dishes.Helpers
@model IEnumerable<Models.Dish>

@{
    ViewBag.Title = "Alldishes";
    Layout = "../Shared/_Layout.cshtml";
}


<div class="all-dishes">

    <a href="@Url.Action("DishesInCategory", "Dishes")">
        Show all dishes
    </a>

</div>

<div class="panel panel-default">

    <div class="panel-body">
        @foreach (var dish in Model)
        {
            <div>
                <div class="each-dish">
                    <a href="@Url.Action("Dish", "Dishes", new { id = dish.Id})">
                        <img src="/content/images_prev/@dish.Image" alt="...">
                        <br />
                        @dish.Name
                    </a>
                </div>
            </div>
        }
    </div>
</div>
