@model Models.Dish

@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="all-dishes">

    <a href="@Url.Action("DishesInCategory", "Dishes")">
        Show all dishes
    </a>

</div>

<div >
    <div class="row featurette">
        <div class="col-md-7 single-dish">
            
           <p>@Model.Name</p> 
           <p>@Model.Description</p>
            
        </div>
        <div class="col-md-5 main-dish-image">
            <img class="featurette-image img-responsive" src="/content/images/@Model.Image" width="300" height="300" alt="Generic placeholder image">
        </div>
    </div>
</div>