body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


.start_button{
 text-decoration:none; 
 text-align:center; 
 padding:11px 32px; 
 border:none;

    font-size: 22px;
    font-family: "Lato";
 font-weight:bold; 
 color:#ffffff; 
 background:#ff7878; 
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
 opacity:1; 
 -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=78); 
 filter: alpha(opacity=78); 
    font-family: "Lato";
  }
 
.start_button:hover{
    background: none;
    color:#ffffff; 
}

.panel li {
    list-style-type: none;
    color: #999999;
    font-family: Arial, sans-serif
}

.panel a {
    color: #999999;
    font-family: Arial, sans-serif
}

.panel-heading {
     color: #999999;
    font-family: Arial, sans-serif;
        font-family: "Lato";
}



.category-box {
     
    font-family: "Lato";
}

.category {
    color: black;
    font-size: 22px;
    
    
}



.ingredient-box {
    color: #999999;
    font-family: "Lato";
}

.each-dish {
    float: left;
    margin: 25px;
    width: 130px;
}

.all-dishes {
    right: 50px;
    float: right;
}


